.elementor-2 .elementor-element.elementor-element-101618c .elementor-spacer-inner {height: 50px;}
.elementor-2 .elementor-element.elementor-element-101618c {display: block;}
.elementor-2 .elementor-element.elementor-element-e46f61d .elementor-headline {text-align: center;}
.elementor-2 .elementor-element.elementor-element-e46f61d .elementor-headline-dynamic-wrapper path {stroke: #800000;stroke-linecap: round;stroke-linejoin: round;}
.elementor-2 .elementor-element.elementor-element-e46f61d .elementor-headline-plain-text {color: #222831;}
.elementor-2 .elementor-element.elementor-element-e46f61d .elementor-headline-dynamic-text {color: #222831;}
.elementor-2 .elementor-element.elementor-element-e46f61d {display: block;}
.elementor-2 .elementor-element.elementor-element-8d6f8e3 .elementor-text-editor {text-align: center;}
.elementor-2 .elementor-element.elementor-element-8d6f8e3 {color: #222831;font-family: "Roboto",Sans-serif;font-size: 1.2em;display: block;}
.elementor-2 .elementor-element.elementor-element-3dda8df {text-align: center;display: block;}
.elementor-2 .elementor-element.elementor-element-3dda8df .elementor-social-icon {font-size: 37px;}
.elementor-2 .elementor-element.elementor-element-592d4a6 .uc_style_uc_white_instagrm_widget_elementor_btn_txt {font-family: "Roboto",Sans-serif;}
.elementor-2 .elementor-element.elementor-element-592d4a6 {max-width: 500px !important;display: block;margin-left: auto !important;margin-right: auto !important;}
@media (max-width:1024px) {.elementor-2 .elementor-element.elementor-element-101618c {display: block;}
	.elementor-2 .elementor-element.elementor-element-e46f61d {display: block;}
	.elementor-2 .elementor-element.elementor-element-8d6f8e3 {display: block;}
	.elementor-2 .elementor-element.elementor-element-3dda8df {display: block;}
	.elementor-2 .elementor-element.elementor-element-592d4a6 {display: block;}}
@media (max-width:767px) {.elementor-2 .elementor-element.elementor-element-101618c {display: block;}
	.elementor-2 .elementor-element.elementor-element-e46f61d {display: block;}
	.elementor-2 .elementor-element.elementor-element-8d6f8e3 {display: block;}
	.elementor-2 .elementor-element.elementor-element-3dda8df {display: block;}
	.elementor-2 .elementor-element.elementor-element-592d4a6 {display: block;}}