.elementor-2419 .elementor-element.elementor-element-4439325 {text-align: center;display: block;}
.elementor-2419 .elementor-element.elementor-element-4439325 .elementor-heading-title {font-size: 4em;}
.elementor-2419 .elementor-element.elementor-element-04e2bc5 {font-family: "Roboto",Sans-serif;font-size: 1.3em;display: block;}
.elementor-2419 .elementor-element.elementor-element-fc789e0 {display: block;}
@media (max-width:1024px) {.elementor-2419 .elementor-element.elementor-element-4439325 {display: block;}
	.elementor-2419 .elementor-element.elementor-element-04e2bc5 {display: block;}
	.elementor-2419 .elementor-element.elementor-element-fc789e0 {display: block;}}
@media (max-width:767px) {.elementor-2419 .elementor-element.elementor-element-4439325 {display: block;}
	.elementor-2419 .elementor-element.elementor-element-04e2bc5 {display: block;}
	.elementor-2419 .elementor-element.elementor-element-fc789e0 {display: block;}}